@import "common.css";

body{background: #eee;}
.header_logo{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0; left: 0;
    z-index: 200;
    background: #fff;
}
.header_logo h1{
    width: 167px;
    min-height: 36px;
    margin: 25px auto 19px;
}
.header_logo h1 img{
    width: 100%; display: block;
    cursor: pointer;
}
.header_serach{
    position: absolute;
    top: 0; right: 0;
    padding: 25px 15px 0 0;
    display: flex;
}
.header_serach div{
    line-height: 23px;
    display: flex;
    border-radius: 30px;
    border: 1px solid rgb(207, 207, 207);
    padding: 2px;
}
.header_serach div form{
    line-height: 23px;
    padding: 3px 3px 3px 11px;
}
.header_serach div form input{
    width: 136px;
    padding: 0px;
    border: none;
    outline-style: none;
}
.header_serach div img{
    width: 19px; height: 19px;
    padding: 5px 7px 0px 3px;
    cursor: pointer;
}
.login_box{
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 0 5px;
}
.login_box button{
    padding: 10px 0 0 10px;
    border: none;
    color: #999;
    background: transparent;
    cursor: pointer;
    font-family: AppleSDGothicNeo-Light,Dotum,Helvetica,"sans-serif"!important;
}

/* subHeader */
nav{
    position: fixed;
    left: 0; top: 80px;
    z-index: 199;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgb(223, 223, 223);

}
.sub_header{
    width: 720px;
    display: flex;
    margin: 0 auto;
    padding: 0;
}
.sub_header li{
    position: relative;
    padding: 28px 0 25px;
    flex: 1 1 auto;
}
.sub_header li a{}
.sub_header li a img{
    height: 24px;
    margin: 0 auto;
    display: block;
    
}
.new_tag{
    width: 7px; height: 7px;
    position: absolute;
    right: 6px;
    top: 23px;
    border-radius: 50%;
    background: #ffd200;

}
.active_sub_header_li{
    border-bottom: 3px solid #ffd200;
}

/* main */
.main{
    width: 720px;
    margin: 169px auto 0;
    background: transparent;
}

/* main - slideBox */
.main{}
.main > h2{width: 1px; height: 1px; overflow: hidden; margin: 0;}

/* slide_top_banner */
.slide_top_banner_box{
    height: 480px;
    margin: 0;
    overflow: hidden;
    position: relative;
    left: 0; top: 0;
}
.slide_top_banner_listbox{
    width: 10000px;
    height: 100%;
    transform: translate(-720px, 0px);
    transition: .5s;
}
.slide_top_banner_list{
    height: 100%;
    float: left;
}
.slide_top_banner_list a{display: block; font-size: 0;}
.slide_top_banner_list a img{
    width: 720px;
}

.slide_top_banner_box span{
    position: absolute;
    right: 24px;
    bottom: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
}

.top_banner_btn{
    position: absolute; z-index: 198;
    top: 50%; transform: translateY(-50%);
    cursor: pointer;
}
.top_banner_btn:first-of-type{
    left: 0;
    margin-left: 20px;
}
.top_banner_btn:last-of-type{
    right: 0;
    margin-right: 20px;
}
/* sub_banner */
.sub_banner{
    width: 720px;
    margin: 10px 0;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: 0px;
}
.sub_banner > button{
    width: 85px; height: 100px;
    vertical-align: middle;
    background: url('https://static-page.kakao.com/static/pc/ic-paging-next-nor.svg?b76f34a…') center center no-repeat;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.sub_banner > button:first-of-type{
    background: url('https://static-page.kakao.com/static/pc/ic-paging-back-nor.svg?b76f34a…') center center no-repeat;
}
.sub_banner .sub_banner_box{
    width: 550px; height: 100px;
    overflow: hidden;
    display: inline-block;
    margin: 20px 0;
    vertical-align: middle;
}
.sub_banner .sub_banner_box ul{
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    transform: translate(-550px);

}
.sub_banner .sub_banner_box ul li{
    float: left;
    width: 550px;
    height: 100px;
}

.sub_banner .sub_banner_box ul li a{display: block;}
.sub_banner .sub_banner_box ul li a img:first-of-type{
    width: 100%;
    padding: 0; margin: 0;
}
.sub_banner .sub_banner_box ul li a img:nth-of-type(2){
    width: 20px; height: 20px;
    position: absolute;
    right: 10px; top: 10px;
    padding: 0; margin: 0;
}

/* main content */
.content_box{
    margin-top: 10px;
    border-bottom: 1px solid rgb(230, 230, 230);
    font-family: AppleSDGothicNeo-Light,Dotum,Helvetica,"sans-serif"!important;
}
.content_box article{
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(230, 230, 230);
    margin: 10px 0 0 1px;
}
.content_box article h3{
    padding: 22px 20px 0;
    margin: 0;
    overflow: hidden;
    font-size: 20px;
    color: rgb(51, 51, 51);
}
.content_box article h3 > span{

}
.content_box article h3 small{
    font-size: 16px;
    margin-top: 2px;
    display: inline-block;
    color: rgb(153, 153, 153);
    padding-left: 5px;
}
.content_box article h3 a{
    float: right;
}
.content_box article h3 a span{
    font-size: 16px;
    font-family: AppleSDGothicNeo-Light,Dotum,Helvetica,"sans-serif"!important;
    color: rgb(153, 153, 153);
}
.content_box article h3 a span:nth-of-type(2){
    width: 7px; height: 7px;
    display: inline-block;
    border: solid #bbb;
    border-width: 0px 1px 1px 0px;
    margin: -0 0 2px 2px;
    transform: rotate(-45deg);
}

/* main content -> ul */
.list_content_ul{
    padding: 20px; margin: 0;
    display: flex;
    flex-direction: column;
}
.list_content_ul .list_content_li{font-size: 0; padding: 10px 0;}
.list_content_ul .list_content_li:first-of-type{padding: 0 0 10px;}
.list_content_ul .list_content_li:last-of-type{padding: 10px 0 0;}
.list_content_ul .list_content_li a{display: block;}
.list_content_ul .list_content_li a figure{display: flex;}
.list_content_ul .list_content_li a figure figcaption{font-size: 16px;}

/* main content -> ul -> li -> figuer */
.image_box{
    position: relative;
    width: 142px;
    height: 97.412px;
    border-radius: 6px;
    overflow: hidden;
}
.image_box > img{
    width: 100%;
}
.icon_image_box{
    width: 100%;
    position: absolute;
    left: 0; top: 0;
    display: flex;
}
.icon_image_box:first-of-type{}
.icon_image_box:last-of-type{}
.icon_image_box img{
    width: auto;
    height: 23px;
}
.image_box .image_box_right_img{
    width: 40px; height: 40px;
    position: absolute;
    top: 0; right: 0;

}

/* main content -> ul -> li -> figuer -> figcaption */
.content_figcaption{
    display: flex;
    flex-direction: column;
    margin-left: 20px; padding: 8px 0;
}
.figcaption_title{
    margin-right: 3px;
}
.figcaption_title img{
    height: 15px;
    margin-right: 2px;
}
.figcaption_title img:last-of-type{
    height: 15px;
    margin-right: 3px;
}
.content_figcaption p{
    font-family: AppleSDGothicNeo-Light,Dotum,Helvetica,"sans-serif"!important;
    color: rgb(156, 156, 156);
}
.content_figcaption > p:first-of-type{
    color: rgb(51, 51, 51);
}
.content_figcaption .figcaption_content{
    margin-top: 2px;
    font-size: 15px;
}
.content_figcaption .figcaption_info *{display: inline-block;}
.content_figcaption .figcaption_info{
    margin-top: 25px;
    font-size: 14px;
}
.content_figcaption .figcaption_info > img:first-of-type{
    height: 11px;
    margin-right: 5px;
}
.fig_separator{
    height: 15px;
    margin: 0px 5px;
    vertical-align: bottom;
}

/* main content -> ul_vod */
.list_content_ul_vod{
    width: auto;
    height: 275px;
    max-width: 720px;
    max-height: 275px;
    padding: 20px;
    margin: 0;
    display: flex;
    position: relative;
}
.list_content_li_vod{
    width: 23%;
    margin: 0px 1.3%;
    display: flex;
    flex-direction: column;
}
.list_content_li_vod:first-child{margin-left: 0;}
.list_content_li_vod:last-child{margin-right: 0;}


/* main content -> ul_vod -> figure */
.image_box_vod{
    width: 155.98px;
    height: 218.372px;

}
.image_box_vod > img{
    width: 155.98px;
    height: 218.372px;
    margin-left: -1px;
    margin-top: 0px;
}

.content_figcaption_vod{
    margin: 10px 5px 0;
}
.figcaption_title_vod{
    font-size: 0;
    color: rgb(51, 51, 51);
    font-family: AppleSDGothicNeo-Light,Dotum,Helvetica,"sans-serif"!important;
}
.figcaption_title_vod > span{
    display: inline-block;
    font-size: 16px;
}
.figcaption_title_vod .figcaption_title_vod_icon{
    height: 15px;
    margin-left: 2px;
}
.figcaption_title_vod .figcaption_title_vod_icon:first-of-type{
    margin-left: 0px;
}
.figcaption_title_vod .figcaption_title_vod_icon:last-of-type{
    margin-right: 3px;
}
.figcaption_info_vod{
    margin-top: 7px;
    font-size: 0;
    display: flex;
}

.figcaption_info_vod img:first-of-type{}
.figcaption_info_vod img:first-of-type{
    height: 11px;
    margin-right: 5px;
}
.figcaption_info_vod p{
    color: rgb(156, 156, 156);
    font-size: 14px;
}
/* figuer Ranking */
.image_box_ranking{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    
    width: 84.444px;
    height: 114px;
}
.image_box_ranking > img{
    width: 84.444px;
    height: 114px;
}
/* ficaption Ranking */
.content_figcaption_ranking{
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    width: 100%;
}
.content_figcaption_ranking div:first-of-type{width: 100%;}
.content_figcaption_ranking div:last-of-type {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.content_figcaption_ranking > div:last-of-type img{
    width: 10px;
    margin-bottom: 3px;
}
.content_figcaption_ranking > div:last-of-type span{
    font-size: 18px;
    color: rgb(255, 74, 73);
    margin-left: 5px;
}
.figcaption_ranking{
    margin-bottom: 13px;
}
.figcaption_ranking span{
    background: rgb(255, 210, 0);
    padding: 4px 10px 1px;
    border-radius: 2px;
    font-size: 16px;
}
.figcaption_title_ranking{
    font-size: 0;
}
.figcaption_title_ranking img{
    height: 15px;
    margin-left: 2px;
}
.figcaption_title_ranking img:first-of-type{
    margin-left: 0;
}
.figcaption_title_ranking img:last-of-type{
    margin-right: 3px;
}
.figcaption_title_ranking span{
    font-size: 16px;
    color: #333;
}
.figcaption_info_ranking{
    margin-top: 7px;
    font-size: 14px;
    display: flex;
    color: #9c9c9c;
}
.figcaption_info_ranking img:first-of-type{
    height: 11px;
    margin-right: 5px;
}

/* no-slide-banner */
.no_slide_banner{
    background: rgb(177, 41, 20);
    padding: 0 15%;
    font-size: 0;
    margin-top: 10px;
}
.no_slide_banner a{display: inline-block;}
.no_slide_banner img{
    width: 100%;
}

/* slide_banner */
.slide_banner_box{
    margin: 20px;
    border-radius: 6px;
    height: 340px;
    overflow: hidden;
    position: relative;
    top: 0; left: 0;
}
.slide_banner_listbox{
    width: 4000px;
    transform: translate(-680px);
}
.slide_banner_list{
    width: 680px;
    height: 340px;
    float: left;
}

.slide_banner_list a{
    display: block; font-size: 0;
    border: 1px solid rgb(248, 248, 248);
}
.slide_banner_list a img{
    max-width: 100%; max-height: 100%;
}

.slide_indecator_button{
    position: absolute;
    left: 20px;
    bottom: 27px;
}
.slide_indecator_button button{

    padding: 0 10px;
}
.slide_indecator_button img{
    height: 16px;
}
.slide_indecator_button span{
    font-size: 18px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    padding-top: 2px;
}

/* bottom_appdownload */
.bottom_appdownload{
    width: 720px;
    margin-top: 10px;
    font-size: 0;
}
.bottom_appdownload button{
    width: 100%;
    background: #fecc2e;
    font-size: 0;
    padding:0;
    margin: 0;
}
.bottom_appdownload img{
    width: 70%;
}

/* footer */
footer{
    width: 720px;
    margin: 0 auto;
    display: flex;
}
footer *{color: rgb(189, 189, 189);}
footer > div:first-of-type{
 flex: 1 0 auto;   
}
footer div ul{
    padding-top: 60px;
    display: flex;
}
footer div ul li{
    margin-right: 3px;
    font-size: 14px;
}
footer div ul li:last-of-type{margin-right: 0;}
footer div ul li a{
    line-height: 24px;
}
.footer_mark{
    flex: 0 0 auto;
    margin: 60px 0 0;
}
.footer_mark a{display: block; font-size: 0;}
.footer_mark a img{
    width: 55px; height: 55px;
}
.footer_mark a p{font-size: 12px;}
address{
    font-style: normal;
}
address .company_info_header{
    font-size: 0;
    margin-top: 5px;
}
address .company_info_header .company_info_btn{
    font-size: 14px;display: inline-block;
}
address .company_info_header .company_info_btn_off::after{
    content: '';
    display: inline-block; margin: 0px 0px 2px 6px;
    border-top: 7px solid rgb(189, 189, 189);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
address .company_info_header .company_info_btn_on::after{
    content: '';
    display: inline-block; margin: 0px 0px 2px 6px;
    border-bottom: 7px solid rgb(189, 189, 189);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
address .company_info_header span{padding: 0 10px; font-size: 14px;}
address .company_info_header a{text-decoration: underline; font-size: 14px;}
address .company_info_body{margin-top: 5px;}
address .company_info_body p{margin-top: 7px; font-size: 14px;}
address .company_info_body p:first-of-type{margin-top: 12px;}

.copy{
    margin-top: 9px; padding-bottom: 50px;
    font-size: 14px; 
    line-height: 24px;
    display: block;
    color: rgb(205, 205, 205);
}
